In [1]:
import re
import string
import dill as pickle

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

#fungsi format teks
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [2]:
#load dataset
import pandas as pd
data = pd.read_csv('Data_test.csv')

In [3]:
#show data
data.drop(data.columns[0], axis = 1, inplace = True)
data

                                                    text  Nilai kebenaran
0       every record has been destroyed or falsified ...                0
1      john mccain really doesn t care what topic rep...                0
2      cairo  reuters    supporters of islamic state ...                1
3      alexander mccoy  a veteran of the u s  marines...                0
4      freelancers love entitled people  really we do...                0
...                                                  ...              ...
45453  who could forget mitt romney s second and thir...                0
45454   reuters    senior fbi officials who helped pr...                1
45455  washington  reuters    two senior republican h...                1
45456  part of the appeal of donald trump  at least f...                0
45457  sydney    reuters    thousands of people ralli...                1

[45458 rows x 2 columns]

In [4]:
X = data['text'].values
y = data['Nilai kebenaran'].values
X.shape, y.shape

((45458,), (45458,))

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

vektor = TfidfVectorizer()
xv_train = vektor.fit_transform(X_train)
xv_test = vektor.transform(X_test)

In [7]:
from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier(random_state = 1)
decision_tree.fit(xv_train,y_train)
prediksi_DT = decision_tree.predict(xv_test)
score = decision_tree.score(xv_test, y_test)

In [8]:
print(score)

0.9914210294764628

In [9]:
hasildata_DT = classification_report(y_test, prediksi_DT, output_dict=True)
pd.DataFrame(hasildata_DT)

                     0            1  accuracy     macro avg  weighted avg
precision     0.991955     0.990844  0.991421      0.991399      0.991421
recall        0.991535     0.991298  0.991421      0.991416      0.991421
f1-score      0.991745     0.991071  0.991421      0.991408      0.991421
support    7088.000000  6550.000000  0.991421  13638.000000  13638.000000

In [10]:
def output_lable(n):
    if n == 0:
        return "Berita Palsu"
    elif n == 1:
        return "Berita Asli"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vektor.transform(new_x_test)
    prediksi_DT = decision_tree.predict(new_xv_test)
    
    return print("\n\nDT Prediction: {}".format(output_lable(prediksi_DT[0])))

In [22]:
news = str(input())
manual_testing(news)

ADA beberapa mitos mengenai pencegahan penyakit stroke. Salah satunya adalah menusukkan jarum. dr Frandy Susatia SpS mengatakan bahwa mitos tersebut merupakan hal yang justru bisa membahayakan diri sendiri. Apalagi, jika yang melakukannya juga menderita diabetes. Tidak benar kalau untuk mencegah stroke dengan menusukkan jarum. Itu cuma mitos, katanya di Jakarta, baru-baru ini. Selain menusukkan jarum, mitos lainnya adalah mengguyur kulit saat kepanasan. Namun lagi-lagi, dokter yang praktek di RS Siloam Kebon Jeruk itu menyangkalnya. Tidak benar. Kalau kepanasan, pembuluh darahnya akan menyebar, tapi akan normal lagi ketika panas itu berkurang. Hanya pingsan, tapi tidak stroke, karena pembuluh darahnya sedang uploading, tutupnya.


DT Prediction: Berita Asli

In [12]:
import pickle

In [13]:
pickle.dump(decision_tree, open('model_decision_tree.pkl','wb'))

In [14]:
pickle.dump(wordopt, open('wordopt.pkl','wb'))

In [15]:
pickle.dump(vektor, open('vektor.pkl','wb'))

In [16]:
import joblib

In [17]:
joblib.dump(decision_tree, 'model_dt.pkl')

['model_dt.pkl']

In [21]:
joblib.dump(wordopt, 'wordOpt2.pkl')

['wordOpt2.pkl']

In [19]:
joblib.dump(vektor, 'vector.pkl')

['vector.pkl']